{% extends 'base.html' %}


{% block title %}
    Apache log
{% endblock %}


{% block content %}
    <h4 style="text-align: center; margin: 20px 20px">Apache Log</h4>

    <div class="row">
        <div class="col-md-9" style="margin-bottom: 20px">
            <form>
                <div class="row">
                    <div class="col">
                        <input type="date" name="datetime__gte" class="form-control" id="ipSearch" placeholder="date from">
                    </div>
                    <div class="col">
                        <input type="date" name="datetime__lte" class="form-control" id="ipSearch" placeholder="date to">
                    </div>
                    <div class="col">
                        <input type="text" name="ip" class="form-control" id="ipSearch" placeholder="IP">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3">
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary">Download Records in Excel</button>
            </form>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">ip</th>
                <th scope="col">date</th>
                <th scope="col">method</th>
                <th scope="col">uri</th>
                <th scope="col">status code</th>
                <th scope="col">body size</th>
            </tr>
            </thead>
            <tbody>
            {% for item in logitem_list %}
                <tr>
                    <th>{{ item.ip }}</th>
                    <td>{{ item.datetime|date:'Y-m-d H:i' }}</td>
                    <td>{{ item.method }}</td>
                    <td title="{{ item.uri }}">{{ item.uri|truncatechars:60 }}</td>
                    <td>{{ item.status_code }}</td>
                    <td>{{ item.body_size }}</td>
                </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>
    {% include 'includes/pagination.html' %}

    <div class="row">
        {% include 'logs/log_statistics.html' %}
    </div>

{% endblock %}


